# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [2]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 42.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 3.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 103.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 5.8 MB/s eta 0:00:00


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [39]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)
print(df_path)

dataset_part_2.csv

In [33]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'jeansolorzano'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [7]:
if not database_exists(engine.url):
    create_database(engine.url)

In [40]:
df.to_sql("SPACEXTBL",engine,if_exists="replace")

In [11]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
import pandas as pd        
from sqlalchemy import create_engine    
df = pd.DataFrame({'nombre': ['Falcon 9', 'Falcon Heavy', 'Dragon'],    # Conectar a la base de datos SQL
                   'año de lanzamiento': [2010, 2018, 2012]})
engine = create_engine('sqlite:///spacex.db', echo=True)      # Conectar a la base de datos SQL
table_name = 'SPACEXTBL'    # Especificar el nombre de la tabla SQL
df.to_sql(table_name, con=engine, if_exists='append', index=False)    # Utilizar la función to_sql() para insertar los datos en la tabla SQL

2023-02-24 14:24:28,494 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SPACEXTBL")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("SPACEXTBL")

2023-02-24 14:24:28,504 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-02-24 14:24:28,512 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SPACEXTBL")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("SPACEXTBL")

2023-02-24 14:24:28,530 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-02-24 14:24:28,544 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-02-24 14:24:28,552 INFO sqlalchemy.engine.Engine
CREATE TABLE "SPACEXTBL" (
	nombre TEXT,
	"año de lanzamiento" BIGINT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "SPACEXTBL" (
	nombre TEXT,
	"año de lanzamiento" BIGINT
)

2023-02-24 14:24:28,563 INFO sqlalchemy.engine.Engine [no key 0.01054s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.01054s] ()

2023-02-24 14:24:28,601 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-02-24 14:24:28,613 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-02-24 14:24:28,625 INFO sqlalchemy.engine.Engine INSERT INTO "SPACEXTBL" (nombre, "año de lanzamiento") VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "SPACEXTBL" (nombre, "año de lanzamiento") VALUES (?, ?)

2023-02-24 14:24:28,636 INFO sqlalchemy.engine.Engine [generated in 0.01136s] (('Falcon 9', 2010), ('Falcon Heavy', 2018), ('Dragon', 2012))

INFO:sqlalchemy.engine.Engine:[generated in 0.01136s] (('Falcon 9', 2010), ('Falcon Heavy', 2018), ('Dragon', 2012))

2023-02-24 14:24:28,649 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-02-24 14:24:28,674 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2023-02-24 14:24:28,680 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

In [13]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

2023-02-24 14:24:40,624 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select * from SPACEXTBL;")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("select * from SPACEXTBL;")

2023-02-24 14:24:40,627 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-02-24 14:24:40,629 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select * from SPACEXTBL;")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("select * from SPACEXTBL;")

2023-02-24 14:24:40,635 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-02-24 14:24:40,637 INFO sqlalchemy.engine.Engine select * from SPACEXTBL;

INFO:sqlalchemy.engine.Engine:select * from SPACEXTBL;

2023-02-24 14:24:40,642 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

   index        nombre  año de lanzamiento
0      0      Falcon 9                2010
1      1  Falcon Heavy                2018
2      2        Dragon                2012

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [41]:
#Rellena la variable query con tu consulta
query = """ select distinct LaunchSite from SPACEXTBL """
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [42]:
#Rellena la variable query con tu consulta
query = """ select LaunchSite from SPACEXTBL where LaunchSite like 'CCS%' """
df  = pd.read_sql(query, con = engine )
df

      LaunchSite
0   CCSFS SLC 40
1   CCSFS SLC 40
2   CCSFS SLC 40
3   CCSFS SLC 40
4   CCSFS SLC 40
5   CCSFS SLC 40
6   CCSFS SLC 40
7   CCSFS SLC 40
8   CCSFS SLC 40
9   CCSFS SLC 40
10  CCSFS SLC 40
11  CCSFS SLC 40
12  CCSFS SLC 40
13  CCSFS SLC 40
14  CCSFS SLC 40
15  CCSFS SLC 40
16  CCSFS SLC 40
17  CCSFS SLC 40
18  CCSFS SLC 40
19  CCSFS SLC 40
20  CCSFS SLC 40
21  CCSFS SLC 40
22  CCSFS SLC 40
23  CCSFS SLC 40
24  CCSFS SLC 40
25  CCSFS SLC 40
26  CCSFS SLC 40
27  CCSFS SLC 40
28  CCSFS SLC 40
29  CCSFS SLC 40
30  CCSFS SLC 40
31  CCSFS SLC 40
32  CCSFS SLC 40
33  CCSFS SLC 40
34  CCSFS SLC 40
35  CCSFS SLC 40
36  CCSFS SLC 40
37  CCSFS SLC 40
38  CCSFS SLC 40
39  CCSFS SLC 40
40  CCSFS SLC 40
41  CCSFS SLC 40
42  CCSFS SLC 40
43  CCSFS SLC 40
44  CCSFS SLC 40
45  CCSFS SLC 40
46  CCSFS SLC 40
47  CCSFS SLC 40
48  CCSFS SLC 40
49  CCSFS SLC 40
50  CCSFS SLC 40
51  CCSFS SLC 40
52  CCSFS SLC 40
53  CCSFS SLC 40
54  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
#Rellena la variable query con tu consulta
query = """ select PayloadMass from SPACEXTBL where Customers like 'NASA (CRS)' """  
df = pd.read_sql(query, con=engine)
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [51]:
#Rellena la variable query con tu consulta
query = """ select AVG(PayloadMass) from SPACEXTBL where Serial like 'B1%' """  
df = pd.read_sql(query, con=engine)
df  = pd.read_sql(query, con = engine )
df

   AVG(PayloadMass)
0       6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [52]:
query = """ select min(Date) from SPACEXTBL where LandingOutcome like 'True RTLS' """  
df = pd.read_sql(query, con=engine)
df  = pd.read_sql(query, con = engine )
df

    min(Date)
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [53]:
query = """ select (Serial) from SPACEXTBL where LandingOutcome like 'True ASDS' """  
df = pd.read_sql(query, con=engine)
df  = pd.read_sql(query, con = engine )
df

   Serial
0   B1021
1   B1022
2   B1023
3   B1026
4   B1029
5   B1021
6   B1029
7   B1036
8   B1038
9   B1041
10  B1031
11  B1042
12  B1045
13  B1046
14  B1047
15  B1048
16  B1046
17  B1049
18  B1047
19  B1046
20  B1049
21  B1051
22  B1056
23  B1049
24  B1048
25  B1059
26  B1056
27  B1049
28  B1051
29  B1051
30  B1058
31  B1049
32  B1059
33  B1060
34  B1058
35  B1049
36  B1060
37  B1058
38  B1051
39  B1060
40  B1062

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [55]:
query = """ select COUNT(*) from SPACEXTBL group by Class """  
df = pd.read_sql(query, con=engine)
df  = pd.read_sql(query, con = engine )
df

   COUNT(*)
0        90

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query = """ select max(Serial) from SPACEXTBL where Boosterversion """  
df = pd.read_sql(query, con=engine)
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia